.sort_by {
  font-size: 2rem;
  font-family: "Yantramanav", sans-serif;
  color: black;
  width: 40%;
  height: auto;
  margin: 1% auto;
  padding: 0%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  background-color: white;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(141, 141, 141, 0.25);
}

#sort_by {
  border-radius: 40px;
  border: none;
  font-family: "Yantramanav", sans-serif;
  font-size: 1.2rem;
  background-color: white;
  margin: auto;
  padding: 2%;
}

#sort_by:hover {
  background-color: #95c2de;
  color: white;
}

/* ARTICLE */
.card_article {
  background-color: #ffffff;
  color: black;
  margin: 60px auto;
  padding: 20px;
  width: 50%;
  height: auto;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(136, 136, 136, 0.25);

  cursor: pointer;
  transition: 0.4s;
}

.card_article img {
  height: 70px;
  width: auto;
}

.card_article h2 {
  height: auto;
  font-size: 1.75rem;
  margin: auto;
  text-align: center;
  color: black;
}
.card_article p {
  font-family: "Yantramanav", sans-serif;
  font-size: 0.9rem;
  height: auto;
  color: black;
}

#author {
  font-size: 0.9rem;
  height: 20px;
}

.card_article span {
  display: inline-block;
  padding: 0px 30px;
  font-family: "Yantramanav", sans-serif;
  color: black;
}

.card_article:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(146, 146, 146, 0.25);
}

@media all and (max-width: 550px) {
  .card_article {
    /* On small screens, we are no longer using row direction but column */
    margin-top: 0;
    width: 100%;
  }

  .sort_by {
    font-size: 1rem;
    width: 300px;
    margin: 30px auto;
    margin-bottom: 10%;
    padding: 0;
    background-color: white;
    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(138, 138, 138, 0.25);
  }

  .card_article h2 {
    font-size: 0.8rem;
    height: auto;
  }

  .card_article p {
    font-size: 0.6rem;
    height: auto;
  }

  .card_article span {
    padding: 0px 10px;
    font-size: 0.9rem;
  }

  .card_article img {
    height: 50px;
    width: auto;
  }
  #author {
    font-size: 0.8rem;
    margin: 10px;
    height: 20px;
  }
}

#sort_by {
  margin: 5%;
  font-size: 90%;
}

/* ARROWS */
.arrow_button {
  background-color: #ffffff;
  margin: 30px auto;
  width: 150px;
  height: 150px;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(185, 185, 185, 0.25);
  cursor: pointer;
  transition: 0.4s;
  font-size: 5rem;
}

.arrow_button:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(165, 165, 165, 0.25);
}

@media all and (max-width: 500px) {
  .card_article {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }

  .arrow_button {
    transform: scale(0.5, 0.5);
  }

  .arrow_button:hover {
    transform: scale(0.4, 0.4);
    box-shadow: 5px 5px 30px 15px rgba(172, 172, 172, 0.25);
  }
}
