body {
  background-color: #cdcfd2;
}

.article {
  background-color: #ffffff;
  text-align: center;
  width: 1000px;
  margin: 50px auto;
  border-radius: 40px;
}
.article img {
  margin: 20px;
  height: 70px;
  width: auto;
}

.article h2 {
  font-family: "Bahiana", cursive;
  font-size: 4rem;
  margin: 10px;
}

.article .body {
  font-size: 1.4rem;
  margin: auto 40px;
}

.article h4 {
  font-family: "Bahiana", cursive;
  font-size: 3.5rem;
  margin: 60px 0px 0px 0px;
  display: flex;
  justify-content: center;
}

.article h5 {
  font-family: "Bahiana", cursive;
  font-size: 2.5rem;
  margin: 20px auto;
}

.add_comment {
  font-family: "Bahiana", cursive;
  font-size: 2rem;
  margin: 30px auto;
  padding: 0px 50px;
  border: solid 1px black;
  border-radius: 40px;
  width: 250px;
  box-shadow: 3px 3px 20px 4px rgba(0, 0, 0, 0.25),
    -3px -3px 20px 4px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: 0.4s;
}

.add_comment button {
  background-color: #1680f2;
  border: none;
  font-family: "Bahiana", cursive;
  font-size: 1.5rem;
  border-radius: 40px;
  color: white;
  text-align: center;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  margin: 20px auto;
  padding: 16px 32px;
}

.add_comment button:hover {
  opacity: 1;
}

.comment {
  box-shadow: 3px 3px 20px 4px rgba(0, 0, 0, 0.25),
    -3px -3px 20px 4px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: 0.4s;
}

.comment:hover {
  transform: scale(0.98, 0.98);
  box-shadow: 3px 3px 20px 4px rgba(0, 0, 0, 0.25),
    -3px -3px 20px 4px rgba(0, 0, 0, 0.22);
}
.comment .profile_pic {
  height: 40px;
  width: auto;
  margin: 10px;
}
.comment .author {
  margin: 20px;
  justify-content: center;
}

.comment .body {
  height: 100px;
  width: 700px;
  margin: auto;
  font-size: 1rem;
}

.comment .created {
  size: 0.5rem;
  margin: auto;
}

.comment .vote {
  margin: auto;
}

.comment .delete {
  margin: auto;
}

.comment .delete button {
  background-color: red;
  border: none;
  border-radius: 40px;
  color: white;
  text-align: center;
  font-family: "Bahiana", cursive;
  font-size: 1.5rem;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  margin: 20px auto;
  padding: 16px 32px;
}

.comment .delete button:hover {
  opacity: 1;
}

.article ul {
  display: inline-block;
  margin: auto;
}

.article li {
  margin: 30px;
  padding: 0px 50px;
  border: solid 1px black;
  border-radius: 40px;
  display: flex;
  flex-wrap: wrap;
}

@media all and (max-width: 800px) {
  .article {
    background-color: #ffffff;
    text-align: center;
    width: 400px;
    margin: 30px auto;
  }

  .article img {
    margin: 20px;
    height: 50px;
    width: auto;
  }

  .article h2 {
    font-size: 2rem;
    margin: 10px;
  }

  .article .body {
    margin: 0px 20px;
    font-size: 1rem;
  }

  .comment .profile_pic {
    height: 30px;
    width: auto;
    margin: 10px;
  }
  .comment .author {
    margin: 15px;
    justify-content: center;
    font-size: 0.8rem;
  }

  .comment .body {
    height: auto;
    width: auto;
    font-size: 0.8rem;
  }

  .comment .created {
    size: 0.5rem;
    margin: 10px auto;
  }

  .comment .vote {
    padding: 0px 10px;
  }
}
