.card_topics {
  background-color: #ffffff;
  margin: 35px auto;
  width: 50%;
  height: auto;
  border-radius: 40px;
  box-shadow: 3px 3px 20px 4px rgba(192, 192, 192, 0.25);
  cursor: pointer;
  transition: 0.4s;
  text-align: center;
  font-size: 2rem;
  color: black;
}

.card_topics p {
  display: inline-block;
  vertical-align: middle;
  margin: 0px;
  padding-bottom: 5%;
}
.card_topics img {
  height: 70px;
  width: auto;
  margin: 2%;
  margin-bottom: 0;
  padding-bottom: 0;
}

.card_topics h1 {
  margin: auto;
  padding: auto;
}

.card_topics h2 {
  margin: auto;
  padding-bottom: 5%;
  color: black;
}

.card_topics:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 3px 3px 20px 10px rgba(206, 206, 206, 0.25);
}

@media all and (max-width: 500px) {
  .card_topics h1,
  h2,
  p {
    font-size: 65%;
  }
}
