.mainbox {
  background-color: #95c2de;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: 15;
}

.err404 {
  color: #ffffff;
  font-family: "Nunito Sans";
  font-size: 11rem;
}

.far {
  font-size: 8.5rem;
  margin: auto;
  margin-top: 5%;
  padding: auto;
  color: #ffffff;
}

.msg {
  text-align: center;
  font-family: "Yantramanav", sans-serif;
  font-size: 1.6rem;
  width: 600px;
  margin: auto;
  padding: auto;
}
