body {
  margin: 0;
  font-family: "Raleway", sans-serif;
}

.App {
  text-align: center;
}
ul {
  padding: 0;
}
li {
  list-style-type: none;
}

.arrowButton {
  font-size: 4rem;
  border: none;
  background: none;
}

.loader {
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: 50% auto;
  padding: auto;
  border: 16px solid white; /* Light Blue */
  border-radius: 50%;
  border-top: 16px solid #1680f2; /* Blue */
  animation: spin 2s linear infinite;
  -webkit-animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
